@import '../../../styles/utils/collection';

.polaroid {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  align-items: center;
  width: 20.4rem;
  background-color: white;
  padding: .8rem;
  filter: drop-shadow(.2rem .2rem .1rem rgba(0, 0, 0, 15%));

  &Pin {
    position: absolute;
    background-color: $rust-000;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 1.1rem;
    filter: drop-shadow(0 .2rem .2rem rgba(0, 0, 0, 15%));
    top: -.2rem;
    &LeftOffset {
      left: 15rem;
    }
    &RightOffset {
      right: 15rem;
    }
  }

  &Image {
    width: stretch;
    height: stretch;
  }
}

.rotateLeft {
  transform: rotate(-3.5deg);
}
.rotateRight {
  transform: rotate(3.5deg);
}