@import '../../styles/utils/collection';

.nudge {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  color: $subtle-text-color;
  margin-top: 8rem;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}