@import '../../styles/utils/collection';

.button {
  user-select: none;
  border: none;
  display: flex;
  box-sizing: border-box;
  width: fit-content;
  padding: .2rem;
  height: 4rem;
  border-radius: .2rem;
  text-decoration: none;
  font-family: 'Bubblegum Sans';
  font-size: 2rem;
  letter-spacing: .03rem;
  color: white;
  box-shadow: rgba(53, 47, 47, 25%) 0 0 .1rem .1rem;
  background-size: 40rem 3rem;

  &Inner {
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    margin: 0;
    border: .1rem dashed white;
    border-radius: .1rem;
  }

  &Label {
    filter: drop-shadow(.1rem .1rem 0 rgba(0, 0, 0, 60%));
  }

  &Icon {
    margin-left: .6rem;
    filter: drop-shadow(.1rem .1rem 0 rgba(0, 0, 0, 60%));
  }
}

.gray {
  background-image: $wool;
  &:hover, &:focus-visible {
    background-image: $light-wool;
  }
  &:active {
    background-image: $dark-wool;
  }
}
.red {
  background-image: $red-wool;
  &:hover, &:focus-visible {
    background-image: $light-red-wool;
  }
  &:active {
    background-image: $dark-red-wool;
  }
}
.green {
  background-image: $green-wool;
  &:hover, &:focus-visible {
    background-image: $light-green-wool;
  }
  &:active {
    background-image: $dark-green-wool;
  }
}
.yellow {
  background-image: $yellow-wool;
  &:hover, &:focus-visible {
    background-image: $light-yellow-wool;
  }
  &:active {
    background-image: $dark-yellow-wool;
  }
}