$brand-primary: #CC1111;
$brand-secondary: #00A651;
$brand-tirtiary: #FFDD00;

$rust-000: #FEFCFC;
$rust-100: #EFE8E8;
$rust-200: #D9CFCF;
$rust-300: #B9ABAB;
$rust-400: #A19393;
$rust-500: #837A7A;
$rust-600: #6C6565;
$rust-700: #524C4C;
$rust-800: #352F2F;
$rust-900: #1D1A1A;

$persian-000: #FFF9F9;
$persian-100: #FBEBEB;
$persian-200: #FACDCD;
$persian-300: #F1A9A9;
$persian-400: #EB8484;
$persian-500: #DE5B5B;
$persian-600: #C13838;
$persian-700: #9F1F1F;
$persian-800: #781111;
$persian-900: #580909;

$sea-000: #FAFFFC;
$sea-100: #DDF9EA;
$sea-200: #B4F4D3;
$sea-300: #81F1B7;
$sea-400: #61E8A2;
$sea-500: #49DE92;
$sea-600: #31C378;
$sea-700: #23A462;
$sea-800: #1B824D;
$sea-900: #125633;

$maize-000: #FFFEF6;
$maize-100: #FFFCEB;
$maize-200: #FFF9CC;
$maize-300: #FFF5A4;
$maize-400: #FFF07C;
$maize-500: #F0DF5B;
$maize-600: #DDCB40;
$maize-700: #C6B21E;
$maize-800: #9F8D04;
$maize-900: #726400;

$wool: url("/assets/background-images/wool-gray.png");
$light-wool: url("/assets/background-images/wool-gray-light.png");
$dark-wool: url("/assets/background-images/wool-gray-dark.png");

$red-wool: url("/assets/background-images/wool-red.png");
$light-red-wool: url("/assets/background-images/wool-red-light.png");
$dark-red-wool: url("/assets/background-images/wool-red-dark.png");

$green-wool: url("/assets/background-images/wool-green.png");
$light-green-wool: url("/assets/background-images/wool-green-light.png");
$dark-green-wool: url("/assets/background-images/wool-green-dark.png");

$yellow-wool: url("/assets/background-images/wool-yellow.png");
$light-yellow-wool: url("/assets/background-images/wool-yellow-light.png");
$dark-yellow-wool: url("/assets/background-images/wool-yellow-dark.png");

$cotton: url("/assets/background-images/cotton.png");